.skewedSection {  transform: skewY(2deg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    transition: all 0.3s ease; }

    .screen{
        background-color:rgba(23,47,76, 0.6) ;

    }

    .fade-enter {
        opacity: 0;
        transform: translateX(-50%);
      }
      
      .fade-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 200ms, transform 500ms;
      }
      
      .fade-exit {
        opacity: 1;
        transform: translateX(0);
      }
      
      .fade-exit-active {
        opacity: 0;
        transform: translateX(5%);
        transition: opacity 200ms, transform 500ms;
      }
      
      .neon-text {
        text-shadow:
        0 0 1px #7be8f9,
        0 0 1px #7be8f9,
        0 0 1.5px #7be8f9,
        0 0 1px #7be8f9,
        0 0 1px #7be8f9,
        0 0 1px #7be8f9;
        color: #fff;
        
    }
