.skewedSection {  transform: skewY(2deg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    transition: all 0.3s ease; }

    .screen{
        border: 3px solid rgba(182, 247, 248,0.2);
        background-color:rgba(118, 220, 222, 0.4) ;
        transform: skewY(1deg);
    }