.dot {
    position: absolute;
    height: 1px;
    width: 10px;
    border-radius: 80%;
    background-color: #8AEAEC;
    pointer-events: none;
    mix-blend-mode: difference; /* to make the dots visible on any background */
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

@keyframes trail {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
